@model Inmobiliaria.Web.Models.TipoInmueble
<h2>Nuevo Tipo</h2>
<form method="post">
  <div><label>Nombre</label><input asp-for="Nombre" required/></div>
  <button type="submit">Guardar</button> <a asp-action="Index">Volver</a>
</form>
