@model IEnumerable<Inmobiliaria.Web.Models.Contrato>
<h2>Contratos por vencer</h2>
<table class="table"><thead><tr><th>ID</th><th>Inmueble</th><th>Inquilino</th><th>Fin</th></tr></thead><tbody>
@foreach(var c in Model){ <tr><td>@c.Id</td><td>@c.InmuebleId</td><td>@c.InquilinoId</td><td>@c.FechaFin</td></tr> }
</tbody></table>
<a asp-action="Index">Volver</a>
