<h2>Buscar inmuebles libres por fechas</h2>
<form method="post">
  <div><label>Desde</label><input name="desde" type="date" required/></div>
  <div><label>Hasta</label><input name="hasta" type="date" required/></div>
  <button type="submit">Buscar</button> <a asp-action="Index">Volver</a>
</form>
